/* IMPORT CSS FILES */
@import url('../css/fonts.css');
@import url('css/keyframes.css');

/* For JS use only */
.slide-left-div{
    transform: translateX(-3000px);
    transition: all 2s;
}

.numInput-on-error-state{
    border: 2.5px solid red !important;
}

.select-on-error-state{
    border: 2px solid red !important;
}

.makeMeVisible{
    visibility: visible !important;
}

.shakeMe{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;    
    transition: all .82s;
}

.fade-out-element{
    transition: opacity .7s !important; 
    -webkit-transition: opacity .7s !important; 
    opacity: 0;
}




 /* shhh!!!! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* What do you expect me to say here too? */

html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}


/* The body of the page.Nothing else */

body {
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
};

    
a{
    outline: none;
    user-select: none;
}


button:focus, input:focus, textarea:focus{
    outline: 0 !important;
}

.parent-container{
    background: url(../img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.container-1{
    position: relative;
    width: 100%;
    display: block;
}

#topmost{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 50% 35%;
    user-select: none;
    background: inherit;
    background-color: rgba(190, 190, 190, 0.6);
    backdrop-filter: blur(2px);
}


.logo-area-div{
    position: relative;
}

.logotext-div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logotext-div h1{
    font-family: 'Sansita Swashed', cursive;
    letter-spacing: 1px;
    font-size: 3rem;
    padding: .75rem;
    font-weight: bold !important;
}

#logotext1{
    color: #0438A3;
}

#logotext2{
    color: #80001a;
}

.logotext-and-version-divider{
    display: none;
}

.version-text{
    position: relative;
    color: black;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2rem;
    top: .75rem;
}

.mobile-options-menu{
    display: none;
}

.container-2{
    position: relative;
    background-color: rgba(240, 240, 240, 0.4);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.app-body{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 45rem;
    margin: 2px solid black;
    box-shadow: 0 0 7px 1px black;
    margin: 0 auto;
    overflow: hidden;
    border-radius: .3rem;
    min-height: 40rem;
    background-color: rgba(230, 230, 230, 0.7);
    backdrop-filter: blur(3px)
}

.app-type-description-div{
    width: 90%;
    position: relative;
    user-select: none;
}

.app-type-description-header{
    font-size: 2rem;
    font-family: 'Texturina', serif;
    padding: .75rem;
    font-weight: bold;
    color: rgb(45, 45, 45);
    text-align: center;
    text-decoration: underline;
    user-select: none;
}

.app-type-description-text{
    position: relative;
    text-align: justify;
    padding: 1.5rem;
    font-size: 1.3rem;
    font-family: 'Mukta', sans-serif;
    color: #80001a;
    line-height: 1.75rem;
    user-select: none;
}

.app-control-section-div{
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.number-of-courses-input-div{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    height: fit-content;
    width: 70%;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #0438A3;
    animation: fade-in-div 2.5s forwards;
    border-radius: .3rem;
    background-color: whitesmoke;
    user-select: none;
}

.number-of-courses-input-div h2{
    position: relative;
    width: 80%;
    font-size: 1.2rem;
    font-family: 'Texturina', serif;
    font-weight: bold;
    color: #0438A3;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 1.7rem;
}

#number-of-courses-input-box{
    width: 10rem;
    margin-top: .5rem;
    height: 4rem;
    border: 2px solid #000000;
    text-align: center;
    border-radius: .4rem;
    font-size: 1.75rem;
    font-family: 'Mukta', sans-serif;
    font-weight: bolder;
    color: #0438A3;
    margin-bottom: .75rem;
}

#number-of-courses-input-box::placeholder{
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem !important;
    font-family: 'Mukta', sans-serif;
    font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.submit-number-of-courses-button{
    color: black;
    font-size: 1.3rem;
    padding: .5rem;
    width: 6rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    font-family: 'Texturina', serif;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    color: green;
}

.submit-number-of-courses-button:hover{
    box-shadow: 0 0 3px 1px black
}


.num-input-error-text{
    color: red;
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
    visibility: hidden;
}

.num-input-error-text span{
    font-size: 1.3rem;
    font-weight: bold;
}

.course-details-input-div{
    position: relative;
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.course-code-input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.course-code-input-div div h2{
    font-family: 'Texturina', serif;
    font-size: 1.1rem;
    color: #0438A3;
    font-weight: bold;
    text-transform: uppercase;
}

.course-entry-div{
    display: flex;
    justify-content: center;
    padding: .25rem;
}

.sub-course-entry-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .75rem;
}

.each-course-unit, .course-grade-text{
    font-size: .99rem;
    padding: .4rem;
    font-family: cursive;
    font-weight: bold;
}

.course-unit-select, .course-grade-select{
    padding: .3rem;
    border: none;
    background: rgb(250, 250, 250);
    color: #80001a;
    font-size: 1.05rem;
    font-family: 'Mukta', sans-serif;
    border-radius: .4rem;
}

select:focus{
    outline: 0 !important;
    box-shadow: 0 0 4px 1px black;
}

.course-unit-option, .course-grade-option{
    text-align: center !important;
    padding: .6rem;
}

.course-details-submit-button{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: 'Texturina', serif;
    padding: .75rem;
    border-radius: .3rem;
    color: #0438A3;
}

.course-details-submit-button:hover, .course-details-submit-button:focus{
    box-shadow: 0 0 5px 1px gray;
    background-color: white;
}

.gpa-display-div{
    background-color: rgb(247, 247, 247);
    width: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: 3px solid #80001a;
    margin-top: 2rem;
    user-select: none;
    animation: fade-in-div 1s forwards;
}

.gpa-display-header{
    font-size: 1.7rem;
    color: #0438A3;
    font-family: 'Mukta', sans-serif;
    padding: 1rem;
}

.gpa-display-pic{
    object-fit: contain;
    width: 7.5rem;
    height: 7.5rem;
    margin: 1rem;
    user-select: none;
}

.gpa-score{
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
    font-size: 3.5rem;
    padding: 1rem 2rem;
    letter-spacing: 2px;
    border: 2.5px solid black;
    margin: .5rem;
    border-radius: .25rem;
}

.student-type-text{
    font-size: 1.5rem;
    font-family: 'Texturina', serif;
    padding: 1rem;
    text-align: center;
}

.student-type-text span{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.75rem;
}

.reload-button{
    margin: 2rem;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
}




















/*   It's  media queries time !!!!   */

/* Smartphone media query*/
@media screen and (max-width:678px) {

    body{
        width: 100vw;
        overflow-x: hidden !important;
    }

    .container-1{
        display: block;
    }

    #topmost{
        grid-template-columns: 15% 70% 15%;
    }

    .logotext-div h1{
        font-size: 5.8175vw;
    }

    .logotext-and-version-divider{
        display: inline !important;
    }

    .version-text{
        font-size: 3.5vw;
    }

    .desktop-options-menu{
        display: none;
    }

    .mobile-options-menu{
        display: inline-block;
    }

    .container-2{
        width: 97vw;
        margin: 0 auto;
    }

    .app-body{
        width: 100%;
        box-shadow: 0 0 4px 1px black;
    }

    .app-type-description-header{
        font-size: 1.75rem;
    }

    .app-type-description-text{
        font-size: 1.2rem;
    }

    .number-of-courses-input-div{
        width: 21.5rem;
    }

    .number-of-courses-input-div h2{
        font-size: 1.1rem;
    }

    #number-of-courses-input-box{
        width: 9rem;
    }

    #number-of-courses-input-box::placeholder{
        font-size: .95rem !important;
    }

    .submit-number-of-courses-button{
        font-size: 1.15rem;
        width: 5.5rem;
    }

    .num-input-error-text{
        font-size: 1rem;
    }

    .num-input-error-text span{
        font-size: 1.15rem;
    }


    .course-details-input-div{
        width: 100%;
    }

    .course-details-input-div div h2{
        font-size: 1rem;
    }

    .course-unit-select, .course-grade-select{
        padding: .5rem;
        width: 9.5rem;
        font-size: .9rem;
    }

    .course-details-submit-button{
        font-size: 1rem;
        padding: .5rem;
    }

    .gpa-display-div{
        width: 98.5%;
        border: 1px solid #80001a;
    }




}